.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF156F;
}
.buy-now{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
.cat1{
    background-color: orange;
    padding:10px 30px;
    border-radius: 10px;

}
.cat2{
    background-color: palevioletred;
    padding:10px 30px;
    border-radius: 10px;
}
.cat3{
    background-color: blueviolet;
    padding:10px 30px;
    border-radius: 10px;
}
.catagories h1{
   color: whitesmoke;
}
.catagories img{
    width:100px;
}
.card{
    border-radius: 10px;
    border:none;
    box-shadow: 5px 5px 10px lightgreen;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color:gray;
}
footer{
    text-align: center;
}